html
  head
    link(rel='stylesheet' href='/report.css')
  body
    table.nachweis
      tr.row-header
        td.meta-dept
          p Abteilung oder Sparte
          p
            span ___________________
        td.headline
          h1 Ausbildungsnachweis
          p.meta-month
            | für den Monat&nbsp;
            span= monthName
        td.meta-nr-and-date
          p.meta-nr
            | Nachweis-Nr.
            span= reportNo
          p.meta-date
            | Datum
            span= date
      tr.row-activity
        td(colspan='3')
          h1 Betriebliche Tätigkeit
          .week
            h2 1. Woche
            p= activities[0]
          .week
            h2 2. Woche
            p= activities[1]
          .week
            h2 3. Woche
            p= activities[2]
          .week
            h2 4. Woche
            p= activities[3]
      tr.row-topics-head
        td(colspan='3')
          | Themen der Unterweisung, Lehrgespräche des betrieblichen Unterrichts
          br
          |       und außerbetriebliche Schulungsveranstaltungen
      tr.row-topics
        td(colspan='3')
          .week
            h2 1. Woche
            p= topics[0]
          .week
            h2 2. Woche
            p= topics[1]
          .week
            h2 3. Woche
            p= topics[2]
          .week
            h2 4. Woche
            p= topics[3]
      tr.row-signatures
        td
          | Unterschrift des Ausbildenden
        td
          | Unterschrift des Auszubildenden
        td.empty

